
<header th:fragment="header" class="header">

<a class="header-brand" href="#">
        Content panel
    </a>
    <button class="header-toggler" type="button">
        <span class="header-toggler-icon"></span>
    </button>
    <ul class="header-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
    </ul>
<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
</form>
</header>