
<header th:fragment="header" class="header">

<a class="header-brand" href="#">
        Content panel
    </a>
    <button class="header-toggler" type="button">
        <span class="header-toggler-icon"></span>
    </button>
    <ul class="header-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link"  href="@{/main}">Main page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="@{/posts}">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:7001/profiles">Profile settings</a>
        </li>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input hidden type="submit" value="Sign Out"/>
        </form>
        <li class="nav-item">
            <a class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
        </li>
    </ul>
<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
</form>
</header>