<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
</head>
<body>
<h2>Edit post</h2>

<p th:text="#{main.label}"></p>

<form action="#" th:action="@{/updatePost/{id}(id=${post.id})}"  th:object="${post}" method="post">
    <p>title:
        <input type="text" th:field="*{title}" placeholder="title"/>
    </p>

    <p>content:
      <textarea th:field="*{title}"></textarea>
    </p>

    <p>
        <input type ="submit" value="save">
    </p>
</form>


</body>
</html>